# Игнорируем все внутри папок Debug и Release
Debug/*
Release/*

# Явно разрешаем ELF файл
!Debug/laser_stand.elf

# Объектные файлы (если они вдруг лежат не в Debug, а в корнях Src)
*.o
*.d
*.su
*.list
*.map

# Makefile артефакты
objects.list
objects.mk
sources.mk
makefile
subdir.mk

# Настройки IDE и ОС
.settings/
.vscode/
*.launch
*.cfg
.mxproject
